version: '3'
services:
  db:
    image: 'postgres:12.8'
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  web:
    build: .
    volumes:
      - '.:/msign'
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgres://postgres:password@db
    depends_on:
      - db
