test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

amazon:
  service: S3
  access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
  secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
  region: <%= ENV['AWS_REGION'] %>
  bucket: <%= ENV['AWS_S3_BUCKET_NAME'] %>
  upload:
     server_side_encryption: <%= ENV['AWS_S3_ENCRYPTION'] || 'AES256' %>

aliyun:
  service: Aliyun
  access_key_id: <%= ENV['ALICLOUD_OSS_ACCESS_KEY_ID'] %>
  access_key_secret: <%= ENV['ALICLOUD_OSS_ACCESS_KEY_SECRET'] %>
  bucket: <%= ENV['ALICLOUD_OSS_BUCKET'] %>
  endpoint: <%= ENV['ALICLOUD_OSS_ENDPOINT'] %>

# Use rails credentials:edit to set the AWS secrets (as aws:access_key_id|secret_access_key)
# amazon:
#   service: S3
#   access_key_id: <%= Rails.application.credentials.dig(:aws, :access_key_id) %>
#   secret_access_key: <%= Rails.application.credentials.dig(:aws, :secret_access_key) %>
#   region: us-east-1
#   bucket: your_own_bucket

# Remember not to checkin your GCS keyfile to a repository
# google:
#   service: GCS
#   project: your_project
#   credentials: <%= Rails.root.join("path/to/gcs.keyfile") %>
#   bucket: your_own_bucket

# Use rails credentials:edit to set the Azure Storage secret (as azure_storage:storage_access_key)
# microsoft:
#   service: AzureStorage
#   storage_account_name: your_account_name
#   storage_access_key: <%= Rails.application.credentials.dig(:azure_storage, :storage_access_key) %>
#   container: your_container_name

mirror:
  service: Mirror
  primary: aliyun
  mirrors: [ amazon ]
